<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFF08B9F1F3E9A0600C966BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF08BB31F3E9A0600C966BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF08BBE1F3E9A0600C966BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
